.home{
    width: 90%;
    margin: 0 auto;
}

.home .videoContent{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media screen and (max-width:860px) {
    .home .videoContent{
    display: flex;
   flex-direction: column;
   margin-bottom: 6rem;
}
}